<ion-view view-title="Sign In">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon"
                ng-click="vm.submit()"
                ng-disabled="vm.signinForm.$invalid"
                ng-if="vm.isIOS">Sign In
        </button>
    </ion-nav-buttons>
    <ion-content padding="true" scroll="false">
        <div class="logo logo-horz">
            <img src="img/drip-white-small.svg" alt="lesEssence Logo">
            <p><span>les</span>Essence</p>
        </div>
        <form class="list list-inset" name="vm.signinForm" role="form" ng-submit="vm.submit()" novalidate>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" name="email" ng-model="vm.email" required/>
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" name="password" ng-model="vm.password" required/>
            </label>
            <input type="submit" class="button button-block button-hidden"/>
        </form>
        <p class="padding text-center">
            <button ui-sref="foyer.password" class="button button-small button-clear button-positive">I've forgotten my Password?</button>
        </p>
    </ion-content>
</ion-view>
