<ion-view view-title="New Account">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon" ng-click="vm.submit()" ng-disabled="vm.form.$invalid">Create</button>
    </ion-nav-buttons>
    <ion-content padding="true" scroll="false">
        <form class="list list-inset" name="vm.signupForm" role="form" ng-submit="vm.submit()" novalidate>
            <label class="item item-input">
                <span class="input-label">Full Name</span>
                <input type="text" name="name" ng-model="vm.name" required/>
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" name="email" ng-model="vm.email" required/>
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" name="password" ng-model="vm.password" required/>
            </label>
            <input type="submit" class="button button-block button-hidden"/>
        </form>
    </ion-content>
</ion-view>
