<ion-view view-title="Log Book">
    <ion-content>
        <div class="item item-divider">
            Past activity
        </div>
        <ion-list>
            <ion-item ng-repeat="tank in vm.tanks | reverse">
                <h2>{{tank.milage}}<abbr>M</abbr></h2>

                <p>
                    <span>{{tank.volume}}<abbr>L</abbr></span>
                    @
                    <span>{{tank.rate}}<abbr>p</abbr></span>
                </p>

                <p><time>{{tank.date | date : 'dd MMM' }}</time></p>

                <ion-option-button class="button-positive" ng-click="vm.edit(tank)">Edit</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="vm.remove(tank)">Delete</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
