<ion-view view-title="Forgot Password">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon" ng-click="vm.submit()" ng-disabled="vm.form.$invalid">Send</button>
    </ion-nav-buttons>
    <ion-content padding="true" scroll="false">
        <p class="padding">
            Don't worry, we've all done it. We'll email you with instructions for resetting your password.
        </p>
        <form class="list list-inset" name="vm.form" role="form" ng-submit="vm.submit()" novalidate>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" name="email" ng-model="vm.model.email" required/>
            </label>
            <input type="submit" class="button button-block button-hidden"/>
        </form>
    </ion-content>
</ion-view>
