    // @import 'common/functions.less';

// variables

    @import 'common/variables.less';

// font

    // @import 'common/fonts.less';

// base

    body, input, button, select, textarea{
        color: @black;
    }

    textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"], input[type="date"],
    input[type="month"], input[type="time"], input[type="week"],
    input[type="number"], input[type="email"], input[type="url"],
    input[type="search"], input[type="tel"], input[type="color"]{
        color: @black;
    }

    .input-label {
        color: #000;
    }

    input, textarea{&::-webkit-input-placeholder{#placeholder}}
    input, textarea{&:-moz-placeholder{#placeholder}}
    input, textarea{&::-moz-placeholder{#placeholder}}
    input, textarea{&:-ms-input-placeholder{#placeholder}}

    #placeholder{
        color: mix(#000,#fff,25%);
    }

    p{
        line-height: 1.200em;
    }

// type

    body, input, button, select, textarea{
        font-family: @bodyFont;
        font-size: @bodySize;
        letter-spacing: -0.09em;
    }

    textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"], input[type="date"],
    input[type="month"], input[type="time"], input[type="week"],
    input[type="number"], input[type="email"], input[type="url"],
    input[type="search"], input[type="tel"], input[type="color"]{
        font-size: @bodySize;
        line-height: 22px;
    }

    .button{
        font-size: @bodySize;

        &-small{
            font-size: @bodySizeSmall;
        }
    }

    .input{
        &-label{
            font-size: @bodySize;
        }
    }

// ionic

    .logo{
        text-align: center;
        font-size: 40px;

        span{
            font-family: @bodyFontBold;
        }

        img{
            display: inline-block;
        }

        p{
            margin: 0;
        }

        &.logo-horz{
            margin: 20px 0 40px;
            height: @logoHeight;
            color: #fff;

            img{
                height: @logoHeight;
                display: inline-block;
                vertical-align: -15px;
            }

            p{
                display: inline-block;
            }
        }

        &.logo-large{
            color: @black;
            position: relative;
            font-size: 35px;
            padding: 20px 0;

            img{
                height: 330px;
            }

            p{
                position: absolute;
                top: 55%;
                left: 0;
                right: 0;
                display: block;
            }
        }
    }

// Android

    // .platform-android{
    //     .bar{
    //         .title {
    //             font-size: @bodySize;
    //         }
    //     }
    // }

    // .bar .button.button-icon {
    //     font-size: 20px;
    // }
